template(name='camera')
    .camera
        video#video Video stream not available.
        button#startbutton Take photo
    canvas#canvas
    .output
        img#photo(alt='The screen capture will appear in this box.')
