head
    title gold run
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")




template(name='layout')
    //- .context.example
    //-     +nav
    //-     .ui.attached.basic.segment.pushable
    //-         +sidebar
    //-         .pusher
    //-             #main_area
    //-                 .ui.basic.fluid.segment
    //-                     +yield
    //-     //- +footer
    +nav
    #main
        +yield
        //- +footer



template(name='not_found')
    .ui.text.container
        .ui.center.aligned.header Not Found
