with post
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Post
        .ui.form
            +text_edit key='title' label='Title'
            +date_edit key='publish_date' label='Publish Date'
            // .field
            //     label Description
            //     .froala-container
            //         +froalaReactive getFEContext
            +textarea_edit key='description'
            // .field
            //     textarea#body(rows='5') #{body}
            +array_edit key='tags'
            +boolean_edit key='published' label='Published'
            +boolean_edit key='featured' label='Featured'
            if title
                #save_post.ui.green.button 
                    i.check.icon
                    |Save
            #delete_post.ui.red.icon.button
                i.trash.icon
