template(name='healthclub_status')
    .ui.basic.segment
        .ui.inline.large.header
            +water_status slug='upper_hot_tub'
            |Upper Hot Tub
        div
        .ui.inline.large.header
            +water_status slug='lower_hot_tub'
            |Lower Hot Tub
        //- .ui.grey.inline.large.header
        //-     |100.2°
        div
        .ui.inline.large.header
            +water_status slug='pool'
            |Pool
        //- .ui.grey.inline.header
        //-     |80.1°


template(name='water_status')
    if is_staff
        if on
            i.green.checkmark.link.icon.toggle_status
        else    
            i.red.ban.link.icon.toggle_status
    else
        if on
            i.green.checkmark.icon
        else    
            i.red.ban.icon
