template(name='home')
    .ui.container
        +cloud filter='model'
        .ui.hidden.divider
        .ui.four.stackable.centered.cards
            each models
                +model_card
            //- +healthclub_card
        
        
template(name='model_card')
    a.ui.card(href="/m/#{slug}")
        .content
            .ui.header
                i.icon(class=icon)
                | #{title}
            .content

        
                
                
template(name='healthclub_card')
    .ui.card
        .content
            a.header(href='/checkin') 
                i.clinic.medical.icon
                |Health Club
            
            //- .ui.button Check In
            .ui.small.header #{checked_in_count} Current Members
