template(name='home')
    h1.ui.center.aligned.header 
        i.home.icon
        |gold run
    .ui.centered.stackable.cards
        each role_models
            a.card.set_model(href="/m/#{slug}")
                .content
                    .header 
                        i.icon(class=icon)
                        |#{title}
                
