template(name='home')
    .ui.centered.cards
        #add_model.ui.icon.button
            i.plus.icon
        each models
            a.ui.card(href="/s/#{slug}")
                .content
                    .ui.icon.header
                        i.icon(class=icon)
                        |#{title}



template(name='edit')
    with current_doc
        +text_edit key='title'
        +text_edit key='slug'
