template(name='home')
    .spacer
    .ui.centered.stackable.six.cards 
        a.ui.card(href="/alpha")
            .content 
                .ui.icon.grey.header
                    i.grey.mountain.icon
                    | alpha
        a.ui.card(href="/m/model")
            .content 
                .ui.icon.grey.header 
                    i.grey.shapes.icon
                    |delta
        a.ui.card(href="/minutes")
            .content 
                .ui.icon.grey.header 
                    i.grey.shapes.icon
                    |minutes
        a.ui.card(href="/work_orders")
            .content 
                .ui.icon.grey.header 
                    i.grey.shapes.icon
                    |work orders
        a.ui.card(href="/tests")
            .content 
                .ui.icon.grey.header
                    i.grey.edit.icon
                    | tests
        a.ui.card(href="/gallery")
            .content 
                .ui.icon.grey.header
                    i.grey.edit.icon
                    | gallery
        a.ui.card(href="/rentals")
            .content 
                .ui.icon.grey.header 
                    i.grey.hand.holding.usd.icon
                    | rentals
        a.ui.card(href="/chat")
            .content 
                .ui.icon.grey.header
                    i.grey.comment.outline.icon
                    | chat
        a.ui.card(href="/events")
            .content 
                .ui.icon.grey.header
                    i.grey.calendar.icon
                    | events
        a.ui.card(href="/bounty")
            .content 
                .ui.icon.grey.header
                    i.grey.money.icon
                    | bounty
        a.ui.card(href="/posts")
            .content 
                .ui.icon.grey.header
                    i.grey.blog.icon
                    | posts
        a.ui.card(href="/alerts")
            .content 
                .ui.icon.grey.header
                    i.grey.bell.outline.icon
                    | alerts
        a.ui.card(href="/users")
            .content 
                .ui.icon.grey.header
                    i.grey.users.icon
                    |users
        a.ui.card(href="/tasks")
            .content 
                .ui.icon.grey.header
                    i.grey.tasks.icon
                    |tasks
        a.ui.card(href="/time")
            .content 
                .ui.icon.grey.header
                    i.grey.clock.icon
                    |time
        a.ui.card(href="/thoughts")
            .content 
                .ui.icon.grey.header
                    i.grey.brain.icon
                    |thoughts
            
            
            
