template(name='home')
    .spacer
    .ui.centered.stackable.six.cards 
        a.ui.card(href="/alpha")
            .content 
                .ui.icon.grey.header
                    i.mountain.icon
                    | alpha
        a.ui.card(href="/m/model")
            .content 
                .ui.icon.grey.header 
                    i.shapes.icon
                    |delta
        a.ui.card(href="/tests")
            .content 
                .ui.icon.grey.header
                    i.edit.icon
                    | tests
        a.ui.card(href="/rentals")
            .content 
                .ui.icon.grey.header 
                    i.hand.holding.usd.icon
                    | rentals
        a.ui.card(href="/deals")
            .content 
                .ui.icon.grey.header
                    i.exchange.icon
                    | deals
        a.ui.card(href="/chat")
            .content 
                .ui.icon.grey.header
                    i.comment.outline.icon
                    | chat
        a.ui.card(href="/events")
            .content 
                .ui.icon.grey.header
                    i.calendar.icon
                    | events
        a.ui.card(href="/bounty")
            .content 
                .ui.icon.grey.header
                    i.money.icon
                    | bounty
        a.ui.card(href="/posts")
            .content 
                .ui.icon.grey.header
                    i.blog.icon
                    | posts
        a.ui.card(href="/alerts")
            .content 
                .ui.icon.grey.header
                    i.bell.outline.icon
                    | alerts
        a.ui.card(href="/users")
            .content 
                .ui.icon.grey.header
                    i.users.icon
                    |users
        a.ui.card(href="/m/reddit")
            .content 
                .ui.icon.grey.header
                    i.reddit.icon
                    |reddit
        a.ui.card(href="/reddit")
            .content 
                .ui.icon.grey.header
                    i.reddit.icon
                    | reddit admin
        a.ui.card(href="/tasks")
            .content 
                .ui.icon.grey.header
                    i.tasks.icon
                    |tasks
        a.ui.card(href="/time_sessions")
            .content 
                .ui.icon.grey.header
                    i.clock.icon
                    |time
        a.ui.card(href="/thoughts")
            .content 
                .ui.icon.grey.header
                    i.brain.icon
                    |thoughts
            
            
            
