template(name='manager')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                .ui.header 
                    +i name='manager'
                    |Manager Dashboard
            .twelve.wide.column
                .ui.segment
                    .ui.header Staff Shift Walks
                    .ui.large.list
                        each shift_walks
                            .item #{_author_username} #{when}
                .ui.segment
                    .ui.header Check In History
                    .ui.large.list
                        each check_ins
                            .item
                                |#{resident_username} #{when}, {{long_date _timestamp}}
                                if garden_key 
                                    .ui.basic.green.label garden key
