template(name='communication_edit')
    .ui.header communication
    +text_edit key='person'
    +text_edit key='company'
    +textarea_edit key='notes'
    +boolean_edit key='followup'
    +single_user_edit key='user'
    +single_doc_edit key='work_order' ref_schema='work_order'

template(name='vendor_edit')
    .ui.header vendor
    +text_edit key='title'
    +text_edit key='contact'
    +number_edit key='telephone'
    +textarea_edit key='notes'
template(name='vendor_view')
    .ui.header vendor
    +text_view key='title'
    +text_view key='contact'
    +number_view key='telephone'
    +textarea_view key='notes'
    
    
    
    
template(name='for_rent_edit')
    .ui.header For Rent
    +text_edit key='title'
    +image_edit key='image'
    +date_edit key='available'
    +array_edit key='tags'
template(name='for_rent_view')
    .ui.header For Rent
    +text_view key='title'
    +image_view key='image'
    +date_view key='available'
    +array_view key='tags'
    
    



template(name='photo_edit')
    .ui.header Photo
    +text_edit key='title'
    +image_edit key='image'
    +array_edit key='tags'
template(name='photo_view')
    .ui.header Photo
    +text_view key='title'
    +image_view key='image'
    +array_view key='tags'
    




template(name='event_edit')
    .ui.header communication
    +text_edit key='person'
    +text_edit key='company'
    +textarea_edit key='notes'
    +boolean_edit key='followup'
    +single_user_edit key='user'
    +single_doc_edit key='work_order' ref_schema='work_order'
    

template(name='service_edit')
    with current_doc
        .ui.container
            .ui.header Edit Service
            +text_edit key='title'
            +textarea_edit key='description'
            +array_edit key='tags'
            +image_edit key='image'
            
template(name='service')
    .ui.fluid.card
        if image
            .image
                +image_view key='image'
        .content
            .header #{title}
            +textarea_view key='description'
            +array_view key='tags'


    
