template(name='staff_home')
    .ui.stackable.padded.grid
        .three.column.row
            .column
                +staff_widget
            .column
                +task_widget
            .column
                +wywo
        .row
            .sixteen.wide.column
                +schedule
                +shift_change_requests
                
                
    
template(name='staff_widget')
    .ui.header
        +i name='dashboard'
        |staff dashboard
        
