template(name='staff')
    .ui.container
        h1.ui.center.aligned.header 
            i.circle.info.icon
            |staff
        .ui.centered.cards
            a.ui.card(href='/readings' class="{{isActivePath '/readings'}}")
                .content
                    .ui.icon.header
                        i.theme.icon
                        h2.content readings
            a.ui.card(href='/lostfound' class="{{isActivePath '/lostfound'}}")
                .content
                    .ui.icon.header
                        i.random.icon
                        h2.content lost and found
            a.ui.card(href='/bikes' class="{{isActivePath '/bikes'}}")
                .content
                    .ui.icon.header
                        i.bicycle.icon
                        h2.content bikes
            a.ui.card(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
                .content
                    .ui.icon.header
                        i.circle.info.icon
                        h2.content desk staff
            a.ui.card(href='/buildings' class="{{isActivePath '/buildings'}}")
                .content
                    .ui.icon.header
                        i.building.icon
                        h2.content buildings
            a.ui.card(href='/tasks' class="{{isActivePath '/tasks'}}")
                .content
                    .ui.icon.header
                        i.edit.icon
                        h2.content tasks
            a.ui.card(href='/keys' class="{{isActivePath '/keys'}}")
                .content
                    .ui.icon.header
                        i.key.icon
                        h2.content keys
