body {
    font-family: 'Ubuntu', sans-serif !important;
    /* filter: invert(90%) !important; */
    font-size: 110% !important;
    /*line-height: 200% !important;*/
    /*background: #3d3d3d !important;*/
    background: rgba(200, 200, 200, .1) !important
}


.grbrown {
    background-color: #482d1b !important;
}


.button {
  animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}


.ui.header{
  font-family: 'Ubuntu', sans-serif !important;
}
a {
  font-family: 'Ubuntu', sans-serif !important;
}
/* .card a.header {
  color: #482d1b !important;
} */
.ui.button {
  font-family: 'Ubuntu', sans-serif !important;
}

.button {
  animation: fadein 1s;
}
.segment, .card {
  animation: fadein 1s;
}

.icon.item {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

#main {
  animation: fadein 1s;
}
#result {
  animation: fadein 1s;
}

.-autocomplete-container {
  margin-top: 12px;
}
@media screen and (max-width: 1100px) {
  .overlay-text {
    top: 550px;
  }
  .overlay-text-subheader {
    top: 290px;
  }
}


 .ui.button, .ui.input {
	 margin: 0.2em !important;
}



@media screen and (max-width: 1100px) {
  .header-logo {
    margin: auto !important;
    display: block;
  }
  .red-nav-bar {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .overlay-text {
    top: 250px;
  }
  .overlay-text-subheader {
    top: 270px;
  }
}
@media screen and (min-width: 1100px) {
  .header-logo {
    padding: 0;
    margin: -36 !important;
    position: absolute;
    top: 0;
    left: 112px;
    z-index: 1030;
  }
  .red-nav-bar {
    margin-top: 90px;
    margin-bottom: 5px;
  }
  .overlay-text {
    top: 200px;
  }
  .overlay-text-subheader {
    top: 220px;
  }
  .event-header {
    bottom: 0;
  }
}
.map-container {
  max-width: 100%;
  height: 300px;
}
.large-text {
  font-size: large;
  line-height: 140%;
}
.center-aligned {
  text-align: center;
}
.overlay-text {
  color: #f8f8ff;
  background: #89131f;
  padding: 10px;
  font-size: 2.5em !important;
  font-weight: 300 !important;
}
.header-wrapper {
  position: relative /* important(so we can absolutely position the description div */;
}
.middle-align {
  vertical-align: middle !important;
}
.banner-text {
  left: 0px;
  font-size: 225%;
}
.footer {
    /* position: absolute; */
    height: auto;
    /* bottom: 0; */
}


.slider-header {
  color: #fff;
  padding: 10px;
  font-size: 3em !important;
}
.slider-subheader {
  color: #fff;
  padding: 10px;
}
@font-face {
  font-family: imogen;
  src: url("/fonts/ImogenAgnes.ttf");
}
@font-face {
  font-family: imogen_swash;
  src: url("/fonts/ImogenAgnesSwash.ttf");
}
.imogen {
  font-family: imogen;
}
.big-header {
  font-size: 800% !important;
  padding: 20px;
}
.imogen {
  font-family: imogen !important;
  font-size: 300% !important;
}
.imogen_big {
  font-family: imogen !important;
  font-size: 1000% !important;
  color: #fff;
}
#layerslider {
  margin-top: -1em;
}
.large {
  font-size: 130%;
  line-height: 130%;
}
.big {
  font-size: 200%;
  line-height: 120%;
}
.center {
  text-align: center;
}
.big-text {
  font-size: 500% !important;
  padding-bottom: 0.25em;
}
.large-text {
  font-size: 300% !important;
  padding-bottom: 0.25em;
}
.slider_header {
  font-size: 20em !important;
  color: #fff;
}
.uppercase {
  text-transform: uppercase;
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
#main {
    margin-top:20px;
    height: 100%;
    /* min-height: 500px; */
    /* bottom: 0; */
}


.topnav{
	overflow-y:hidden;
	overflow-x:scroll;
	/*max-height:1000px;*/
	/*max-height:85vh;*/
	/*padding: 1em;*/
}
.topnav::-webkit-scrollbar {
    display: none;
}
