template(name='units')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header 
                +i name='wallet'
                |unit
        .twelve.wide.column
            |unit content
