template(name='unit')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header 
                +i name='apartment'
                |unit
        .twelve.wide.column
            |unit number
            |#{unit.unit_number}
            with permits
                +unit_permits
