template(name='rentals')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header 
                +i name='handshake'
                |rentals
            +rental_cloud
        .twelve.wide.column.scrolling
            .ui.stackable.three.cards
                each rentals
                    +rental_card_template

    
    
    

template(name='rental_cloud')
    div
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    //- i.grey.tags.icon
    //- .ui.inline.header tags
    if selected_rental_tags
        #clear_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_rental_tags
            .unselect_rental_tag.ui.active.circular.button
                strong #{this}
    each all_rental_tags
        .ui.compact.circular.button.select_rental_tag(class=cloud_tag_class) 
            strong #{this.name}
