template(name='rentals')
    .ui.stackable.padded.grid
        .four.wide.right.aligned.column
            .ui.header 
                |rentals
            +rental_cloud
        .twelve.wide.column
            .ui.icon.button.set_card_view
                i.clone.icon
            .ui.icon.button.set_segment_view
                i.list.icon
            .ui.simple.dropdown
                |sort by
                |#{current_sort}
                i.dropdown.icon
                .menu
                    +sort_item key='most_expensive' label='most expensive' direction='-1'
                    +sort_item key='_timestamp' label='newest' direction='-1'
                    +sort_item key='reservation_count' label='most rented' direction='1'
            if viewing_cards
                .ui.stackable.three.cards
                    each rentals
                        +rental_card
            else if viewing_segments
                each rentals
                    +rental_segment
                
