template(name='comments')
    .ui.horizontal.divider.header Comments
    .ui.comments
        each comments
            +comment
    +add_comment
            
template(name='comment')
    .comment
        .content
            a.author #{author.profile.name}
            .metadata
                span.date #{when}
            .text
                | #{body}
            
            
template(name='add_comment')
    .ui.labeled.fluid.input
        input#new_comment_text
        #add_comment.ui.basic.button Add Comment


