
template(name='user_messages')
    .ui.styled.fluid.profile_block.accordion
        .active.title
            .ui.inline.header 
                i.mail.small.icon
                |User Messages
        .active.content
            if currentUser
                .ui.fluid.icon.input
                    i.plus.icon
                    input#new_message(type='text' placeholder='New Message')
            else
                |Login to message
            .ui.segments
                each user_messages
                    .ui.segment
                        .ui.small.header #{body}
                        each tags
                            .ui.label #{this}
                        div
                        +notify_message
                        +user_list_toggle key='read_by_ids' label='Mark Read' icon='eye'
                        if can_edit
                            +remove_button
                        div
                        +author_info
                        +creation_info
                        //- +watson_view
            

template(name='notify_message')
    unless notified
        .ui.circular.basic.icon.button.notify(title="Notify #{to_username}")
            i.rss.icon
