template(name='staff')
    .ui.container
        .ui.dividing.header Staff
        
        
template(name='staff_nav')
    .ui.seven.item.menu
        a.item(href='/readings' class="{{isActivePath '/readings'}}")
            i.theme.icon
            span.mobile.hidden  Readings
        a.item(href='/lostfound' class="{{isActivePath '/lostfound'}}")
            i.random.icon
            span.mobile.hidden Lost and Found
        a.item(href='/bikes' class="{{isActivePath '/bikes'}}")
            i.bicycle.icon
            span.mobile.hidden Bikes
        a.item(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
            i.circle.info.icon
            span.mobile.hidden Desk Staff
        a.item(href='/buildings' class="{{isActivePath '/buildings'}}")
            i.building.icon
            span.mobile.hidden Buildings
        a.item(href='/tasks' class="{{isActivePath '/tasks'}}")
            i.edit.icon
            span.mobile.hidden Tasks
        a.item(href='/keys' class="{{isActivePath '/keys'}}")
            i.key.icon
            span.mobile.hidden Keys
