with item
    .ui.container
        .image
            img.ui.centered.image(src="{{c.url image_id height=400 width=800 background='white' crop='lpad'}}")
        .ui.hidden.divider
        h1.ui.header #{title}
        each tags
            .ui.basic.large.label #{this}
        .ui.hidden.divider
        .ui.divided.stackable.grid
            .ten.wide.column
                .description
                    |{{nl2br body}}
            .six.wide.column
                .ui.header Price: $#{price}
                #buy.ui.green.basic.fluid.button Buy
                .ui.horizontal.divider.header Admin
                a.ui.fluid.basic.button(href="/item/edit/#{_id}")
                    i.pencil.icon
                    |Edit
                +user_card