template(name='home')
    .ui.two.column.grid.container
        .column
            .ui.segment
                h2.ui.header
                    |Pool
                h3.ui.header Status: 
                    .ui.basic.green.label Operational
                h3.ui.header Most Recent Reading: 
                
            .ui.segment
                h2.ui.header 
                    |Outdoor Hot Tub
                h3.ui.header Status: 
                    .ui.basic.green.label Operational
                h3.ui.header Most Recent Reading: 
            .ui.segment
                h2.ui.header
                    |Indoor Hot Tub
                h3.ui.header Status: 
                    .ui.basic.green.label Operational
                h3.ui.header Most Recent Reading: 
        .column
        
