template(name='footer')
    .ui.fluid.inverted.segment.footer
        .ui.divider
        .ui.container.grid
            .eight.wide.column
                .ui.center.aligned.basic.segment
                    .ui.header
            .eight.wide.column
                +role_switcher
        .row
            .ui.center.aligned.header
                i.copyright.icon
                |Gold Run
