template(name='footer')
    .ui.fluid.inverted.segment.footer
        .ui.divider
        .ui.container.grid
            .eight.wide.inverted.column
                +health_club_info    
            .eight.wide.column
                +role_switcher
        .row
            .ui.center.aligned.header
                i.copyright.icon
                |Gold Run
