template(name='game')
    with current_game
        .ui.header #{title}
        +Template.dynamic template=slug



template(name='picker')
    .ui.padded.stackable.grid
        .row
            .ten.wide.center.aligned.column
                .ui.header picker game
                with current_product
                    .ui.card
                        img.ui.image(src="{{c.url picture width=400 height=400 gravity='face' crop='fill'}}")
                        .content
                            .ui.header #{title}
                            +voting
