template(name='omega')
    +i name='omega' classes='ui inline image'
    .ui.big.icon.input
        i.search.icon
        input.omega_in(type='text')
    each sessions
        .ui.button.select_omega(class=session_button_class)
            |#{name}
    with current_omega
        +text_edit key='name' label='Name' direct=true
        +text_edit key='query' label='Query' direct=true
        +remove_button
        .ui.header result
