template(name='sidebar')
    .ui.left.inline.vertical.borderless.large.sidebar.inverted.fixed.menu
        a.header.toggle_sidebar.item(href='/' class="{{isActivePath '/'}}") 
            i.icon
                +ismall name='home'
            |gro
        // .header.toggle_sidebar.item GR
        a.toggle_sidebar.item(href='/readings' class="{{isActivePath '/readings'}}")
            //- i.theme.icon
            i.icon
                +ismall name='water'
            | readings
        //- a.toggle_sidebar.item(href='/lostfound' class="{{isActivePath '/lostfound'}}")
        //-     i.random.icon
        //-     |Lost and Found
        //- a.toggle_sidebar.item(href='/bikes' class="{{isActivePath '/bikes'}}")
        //-     i.bicycle.icon
        //-     |Bikes
        a.toggle_sidebar.item(href='/staff' class="{{isActivePath '/staff'}}")
            //- i.circle.info.icon
            i.icon
                +ismall name='user-shield'
            | staff
        a.toggle_sidebar.item(href='/buildings' class="{{isActivePath '/buildings'}}")
            i.icon
                +ismall name='building'
            //- i.building.icon
            | buildings
        a.toggle_sidebar.item(href='/tasks' class="{{isActivePath '/tasks'}}")
            i.icon
                +ismall name='tasks'
            //- i.edit.icon
            | tasks
        a.toggle_sidebar.item(href='/keys' class="{{isActivePath '/keys'}}")
            i.icon
                +ismall name='key'
            //- i.key.icon
            | keys
        a.toggle_sidebar.item(href='/residents' class="{{isActivePath '/residents'}}")
            //- i.users.icon
            i.icon
                +ismall name='home'
            | residents
        if currentUser
            // a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
            //     i.line.chart.icon
            // .ui.simple.dropdown.icon.item
            //     i.alarm.icon
            //     .menu
            //         each notifications
            //             .item #{text}
            // a.icon.item(href='/messages' class="{{isActivePath '/messages'}}")
            //     i.mail.icon
            if is_admin
                a.icon.toggle_sidebar.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                    |admin
                    i.icon
                        +ismall name='user-shield'
            a.toggle_sidebar.item(href="/u/#{currentUser.username}/view" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.kiosk_photo width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                if currentUser.name
                    | #{currentUser.name}
                else
                    | profile
            a#logout.ui.toggle_sidebar.item(href='#') 
                i.icon
                    +ismall name='exit-sign'
                | sign out
        else
            a.ui.toggle_sidebar.item(href='/sign-in') 
                i.sign.in.icon
                | sign in
