template(name='sidebar')
    .ui.left.inline.vertical.borderless.sidebar.inverted.fixed.menu
        a.header.toggle_sidebar.item(href='/' class="{{isActivePath '/'}}") 
            +i name='home' classes='ui avatar image'
            |gro
        // .header.toggle_sidebar.item GR
        a.toggle_sidebar.item(href='/readings' class="{{isActivePath '/readings'}}")
            //- i.theme.icon
            +i name='water' classes='ui avatar image'
            | readings
        //- a.toggle_sidebar.item(href='/lostfound' class="{{isActivePath '/lostfound'}}")
        //-     i.random.icon
        //-     |Lost and Found
        //- a.toggle_sidebar.item(href='/bikes' class="{{isActivePath '/bikes'}}")
        //-     i.bicycle.icon
        //-     |Bikes
        a.toggle_sidebar.item(href='/staff' class="{{isActivePath '/staff'}}")
            //- i.circle.info.icon
            +i name='user-shield' classes='ui avatar image'
            | staff
        a.toggle_sidebar.item(href='/buildings' class="{{isActivePath '/buildings'}}")
            //- i.icon
            +i name='building' classes='ui avatar image'
            //- i.building.icon
            | buildings
        a.toggle_sidebar.item(href='/tasks' class="{{isActivePath '/tasks'}}")
            +i name='tasks' classes='ui avatar image'
            //- i.edit.icon
            | tasks
        a.toggle_sidebar.item(href='/keys' class="{{isActivePath '/keys'}}")
            +i name='key' classes='ui avatar image'
            //- i.key.icon
            | keys
        a.toggle_sidebar.item(href='/residents' class="{{isActivePath '/residents'}}")
            //- i.users.icon
            +i name='home' classes='ui avatar image'
            | residents
        if currentUser
            a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
                +i name='line chart' classes='ui avatar image'
                | dashboard
            //- a.icon.item(href='/notifications' class="{{isActivePath '/notifications'}}")
            //-     +i name='bell' classes='ui avatar image'
            //-     | notifications
            a.icon.item(href='/messages' class="{{isActivePath '/messages'}}")
                +i name='envelope' classes='ui avatar image'
                | inbox
            if is_admin
                a.icon.toggle_sidebar.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                    |admin
                    +i name='user-shield' classes='ui avatar image'
            a.toggle_sidebar.item(href="/u/#{currentUser.username}/view" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.kiosk_photo width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                if currentUser.name
                    | #{currentUser.name}
                else
                    | profile
            a#logout.ui.toggle_sidebar.item(href='#') 
                +i name='exit-sign' classes='ui avatar image'
                | sign out
        else
            a.ui.toggle_sidebar.item(href='/sign-in') 
                i.sign.in.icon
                | sign in
