template(name='stats')
    .row
        .ui.center.aligned.header
            +i name='line chart'
            |stats
        +call_method name='calc_site_stats'
        .ui.header number of owners
        .ui.header number of residents
        .ui.header most units owned by owners
        with stats_doc
            .ui.small.header owner count #{owner_count}
            .ui.small.header owner count2 #{owner_count2}
            .ui.small.header resident count #{resident_count}
