template(name='frontdesk')
    .ui.container
        h1.ui.center.aligned.header 
            i.large.icons
                i.user.icon
                i.info.circle.corner.blue.icon
            |Front Desk
            // i#add_impounded_bike.green.plus.link.icon 
        +requests
        +schedule
        .ui.header Notices
        // .ui.centerd.cards
        //     each bikes
        //         +bike




template(name='schedule')
    .ui.center.aligned.dividing.header Schedule
    table.ui.definition.table
        thead
            tr
                th
                th Sunday
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
                th Saturday
        tbody
            tr
                td Morning 7am-12pm
                td 
                td 
            tr
                td Afternoon 12pm-4pm
                td 
                td 
            tr
                td Evening 4pm-9pm
                td 
                td 



// template(name='edit_bike')
//     with doc
//         .ui.text.container.segment
//             .ui.center.aligned.header Edit Impounded Bike 
//             .ui.form
//                 +edit_image
//                 +edit_tags
//                 +edit_body
//                 a.ui.green.large.button(href='/bikes') Save Impounded Bike
//                 #delete_bike.ui.red.icon.button
//                     i.trash.icon
            